// custom css code

.links-group {
    a {
        margin-right: 10px;
    }
}

.video-container {
    position: relative;
}

.play-btn {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    border-radius: 50%;
    z-index: 99;
}

.play-icon {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    z-index: 1;
}

video.playing + a span {
    display: none;
}
